# Dependencies
node_modules/
.pnpm-store/

# VitePress build outputs & cache
.vitepress/dist/
.vitepress/cache/

# Logs & temp files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
